{% extends 'index.html' %} {% block body_block %}
<div class="container">


    <div class="section">
        <div class="row">

            {% if errors %}
                        {% for i in errors %}
                                <h3>{{ i }}</h3>
                        {% endfor %}

                {% else %}

        </div>
                    <h3><center>Categories</center></h3>    
                    <center><h5>Please select 3 categories for which you would like us to showcase popular events!</h5></center>
                    <form method="get" action="/events">
                    <div class="row">
                    {% for i in categories %}
                      <div class="col s3">
                        <div class="card-panel teal">
                          <span class="white-text">{{i.name}}</span>
                        </div>
                      </div>
                    <div class="col s1">
                    <p>
                      <input type="checkbox" id="{{i.id}}" name="category_id" value={{i.id}} />
                      <label for="{{i.id}}" style="margin-top: 13px;"></label>
                    </p>
                    </div>
                    {% endfor %}
                    </div>
                    <input type="hidden" name="page_no" value=1>       
                    <center><input id="search" class="btn btn-medium" type="submit" value="Submit" /></center>
                    </form>

                {% endif %}
            
        
    </div>
</div>
{% endblock %}
