{% extends 'index.html' %}{% block body_block %}
<div class="container">
    <div class="row">
        <h3><center>Documentation</center></h3>
    </div>
  </div> 
    <div class="row">
      <div class="col 6 m4">
        <h5>Project Structure</h5>
        <pre class="langugage-markup">
        <code class="directory-markup language-markup">
        Unwind/
          |--nongit/
          |  |--local_settings.py.sample
          |--static/
          |  |--css/
          |     |--materialize.css
          |     |--materialize.min.css
          |     |--style.css
          |  |--font/
          |  |--images/
          |  |--js/
          |     |--init.js
          |     |--materialize.js
          |     |--materialize.min.js
          |
          |--templates/
          |  |--categories.html
          |  |--documentation.html
          |  |--events.html
          |  |--index.html
          |
          |--unwind/
          |  |--local_settings.py
          |  |--settings.py
          |  |--urls.py
          |  |--views.py
          |  |--wsgi.py
          |
          |--.gitignore
          |--manage.py
          |--README.md
          |--requirements.txt
        </code>
        </pre>
      </div>
      <div class="col 6 m4">
        <h5>Django Flow of Events</h5>
        <p></p>
      </div>

    </div>
  </div> 
  {% endblock %}