{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Unwind - Eventbrite</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--<link href='{% static "materialize.css" %}' type="text/css" rel="stylesheet" media="screen,projection"/>-->
  <link href='{% static "style.css" %}' type="text/css" rel="stylesheet" media="screen,projection"/>
   <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">


          
</head>
 <nav>
        <div class="nav-wrapper teal">
          <a href="/" class="waves-effect waves-light btn-large">Home</a>
        </div>
      </nav>
<body onLoad="clearForms()" onUnload="clearForms()">

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Unwind</h1>
        <div class="row center">
          <h5 class="header col s12 light">Unwind - Plan your day out!</h5>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src='{% static "images/background1.jpg" %}' alt="Unsplashed background img 1"></div>
  </div>
  {% block body_block %}{% endblock %}


  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Unwind</h5>
          <p class="grey-text text-lighten-4">This application uses Eventbrite's API to fetch events related to the categories selected by the user.</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3">Nitish Goel</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!--<script src="static/js/materialize.js"></script>-->
    <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script src="static/js/init.js"></script>

  </body>
</html>

<script type="text/javascript">

function clearForms() {
    var i;
    for (i = 0;
    (i < document.forms.length); i++) {
        document.forms[i].reset();
    }
}

//initial checkCount of zero 
var checkCount = 0;

//maximum number of allowed checked boxes 
var maxChecks = 3;

$(document).ready(function() {

    $("#test").click(function() {
        alert($(':checked').length)
    });

    $(':checkbox[name=category_id]').change(function() {

        //update checkCount 
        checkCount = $(':checked').length;

        if (checkCount >= maxChecks) {
            //alert('you may only choose up to ' + maxChecks + ' options');
            $(':checkbox[name=category_id]').not(':checked').attr('disabled', true);
        } else {
            $(':checkbox[name=category_id]:disabled').attr('disabled', false);
        }

    });

});
</script>

